@CHARSET "UTF-8";

.clickable {
	cursor: pointer; 
	cursor: hand;
	color: #1f77b4;
}

.clickable:hover {
	text-decoration: underline;
}

.flow-inline-block {
	display: inline-block;
}
.flow-block {
	display: block;
}

.gt-speak-bubble {
	background-color: #fff;
	border: 1px solid;
	border-color: #bbb #bbb #a8a8a8;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	padding: 16px;
	position: relative;
	webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
	z-index: 1201 !important;
}

.gt-speak-bubble-closebtn {
	opacity: .55;
	padding: 2px;
	position: absolute;
	right: 0;
	top: 0;
}

.gt-speak-bubble-closebtn:focus {
	opacity: .9;
}

.gt-speak-bubble-closebtnicon {
	height: 21px;
	width: 21px;
}

.gt-speak-bubble-closebtnicon:before {
	content: url(//ssl.gstatic.com/ui/v1/icons/common/x_8px.png);
}

.gt-speak-bubble-arrow {
	position: absolute;
}

.gt-speak-bubble-arrow .gt-speak-bubble-arrow-background,.gt-speak-bubble-arrow .gt-speak-bubble-arrow-foreground {
	display: block;
	height: 0;
	position: absolute;
	width: 0;
}

.gt-speak-bubble-arrow .gt-speak-bubble-arrow-background {
	border: 9px solid transparent;
}

.gt-speak-bubble-arrow .gt-speak-bubble-arrow-foreground {
	border: 8px solid transparent;
}

.gt-speak-bubble-down {
	left: -9px;
	margin-bottom: 12px;	
}

.gt-speak-bubble-down .gt-speak-bubble-arrow {
	bottom: 0;
}

.gt-speak-bubble-up {
	left: -9px;
	margin-top: 12px;	
}

.gt-speak-bubble-up .gt-speak-bubble-arrow {
	top: -9px;
}

.gt-speak-bubble-left {
	top: -9px;
	margin-left: 12px;	
}

.gt-speak-bubble-left .gt-speak-bubble-arrow {
	left: -9px;
}

.gt-speak-bubble-right {
	top: -9px;
	margin-right: 12px;	
}

.gt-speak-bubble-right .gt-speak-bubble-arrow {
	right: 0;
}

.gt-speak-bubble-down .gt-speak-bubble-arrow-background,.gt-speak-bubble-up .gt-speak-bubble-arrow-background {
	border-color: #bbb transparent;
	left: -7px; /* half the arrow so that the surrounding div's 0 is in the center of the arrow */
}

.gt-speak-bubble-down .gt-speak-bubble-arrow-background {
	border-color: #a8a8a8 transparent;
}

.gt-speak-bubble-down .gt-speak-bubble-arrow-foreground,.gt-speak-bubble-up .gt-speak-bubble-arrow-foreground
	{
	border-color: #fff transparent;
	left: -6px;
}

.gt-speak-bubble-down .gt-speak-bubble-arrow-background, .gt-speak-bubble-down .gt-speak-bubble-arrow-foreground {
	border-bottom-width: 0;
}

.gt-speak-bubble-up .gt-speak-bubble-arrow-background, .gt-speak-bubble-up .gt-speak-bubble-arrow-foreground {
	border-top-width: 0;
}

.gt-speak-bubble-up .gt-speak-bubble-arrow-foreground {
	top: 1px;
}

.gt-speak-bubble-left .gt-speak-bubble-arrow-background,.gt-speak-bubble-right .gt-speak-bubble-arrow-background
	{
	border-color: transparent #bbb;
	top: -7px; /* half the arrow so that the surrounding div's 0 is in the center of the arrow */
}

.gt-speak-bubble-left .gt-speak-bubble-arrow-foreground,.gt-speak-bubble-right .gt-speak-bubble-arrow-foreground
	{
	border-color: transparent #fff;
	top: -6px;
}

.gt-speak-bubble-left .gt-speak-bubble-arrow-background {
	border-left-width: 0;
}

.gt-speak-bubble-left .gt-speak-bubble-arrow-foreground {
	border-left-width: 0;
	left: 1px;
}

.gt-speak-bubble-right .gt-speak-bubble-arrow-background {
	border-right-width: 0;
}

.gt-speak-bubble-right .gt-speak-bubble-arrow-foreground {
	border-right-width: 0;
}
.gt-speak-bubble.gt-speak-bubble-promo {
	background-color: #f9edbe;
	border: 1px solid #f0c36d;
}
                                                   
.gt-speak-bubble-promo .gt-speak-bubble-down .gt-speak-bubble-arrow-background,.gt-speak-bubble-promo .gt-speak-bubble-up .gt-speak-bubble-arrow-background
	{
	border-color: #f0c36d transparent;
}

.gt-speak-bubble-promo .gt-speak-bubble-down .gt-speak-bubble-arrow-foreground,.gt-speak-bubble-promo .gt-speak-bubble-up .gt-speak-bubble-arrow-foreground
	{
	border-color: #f9edbe transparent;
}

.gt-speak-bubble-promo .gt-speak-bubble-left .gt-speak-bubble-arrow-background,.gt-speak-bubble-promo .gt-speak-bubble-right .gt-speak-bubble-arrow-background
	{
	border-color: transparent #f0c36d;
}

.gt-speak-bubble-promo .gt-speak-bubble-left .gt-speak-bubble-arrow-foreground,.gt-speak-bubble-promo .gt-speak-bubble-right .gt-speak-bubble-arrow-foreground
	{
	border-color: transparent #f9edbe;
}